.cardContainer {
    width: 218px;
    height: 63px;
    background-color: #0b23f4;
    display: flex;
    flex-direction: column;
    color: white;
    width: 278;
    gap: 19px;
    border-radius: 10px;
    text-align: left;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.cardtitle {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    color: var(--Tokens-Surface-White, #ffffff);
}

.carddata {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
}

span{
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 16px;
color: #B6BDFC;

}