.graph {
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.mainDash {
    display: flex;
    flex-direction: column;
    margin-top: 108px;
    gap: 108px;
}

.graphContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
}

.graphContainer h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
}

.graphobjectif{
    display: flex;
    flex-direction: column;
    gap: 32px ;
}

.graphobjectif h3{
font-family: Inter;
    font-weight: 500;
    font-size: 22px;
}

.graphobjectif p{
     color: #707070;
    font-family: Inter;
font-weight: 400;
font-size: 14px;
}