.navigationbar {
    width: 461px;
    height: 49px;
    gap: 10px;
    border-radius: 40px;
    background-color: #ffffffe5;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 49px;
    align-items: center;
    margin-top: 20px;
}
.disconnect {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: #0b23f4;
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-right: solid 1px black;
    padding-right: 20px;
}

.pagination p:hover{
    cursor: pointer;
    color: #0b23f4;
}